/*contracts.css*/

.btn-contract{
	font-size: 100%;
	margin:5px;
	font-weight: normal;
	width: 60%;
	text-align: left;
	vertical-align: middle;
}
.btn-contract:hover .glyphicon.glyphicon-cloud-download:before{
	color: #ad7d2d;
}
.btn-contract .glyphicon.glyphicon-cloud-download:before{
	margin-right: 5px;
	color: #7d7d7d;
	font-size: 22px;
	transition: all .4s ease;
	-webkit-transition: all .s ease;

}

#contractMenu{
	display: none;
	position: absolute;
	background-color: #fff;
	width: 200px;
	padding: 0px;
	margin-left: -20px;
	margin-top: 10px;

	box-shadow: 3px 3px 3px #999;
	outline: 1px solid #c1c1c1;
}
#contractMenu:before{
	content: "";
	border-width: 10px;
	border-style: solid;
	border-color: transparent transparent #c1c1c1 transparent;
	position: absolute;
	margin-left: 50px;
	margin-top: -20px;
}
#contractMenu li{
	list-style-type: none;
	padding: 10px;
	border-bottom: 1px solid #c1c1c1;
	font-size: 12px;
}
#contractMenu li:last-of-type{
	border-bottom: 0px;
}
#contractMenu li:hover{
	background-color: #F3F3F3;
	color: #ad7d2d;
}
#newContractMenu{
	position: relative;	
}
#newContractMenu:hover #contractMenu{
	display: block;
}

.container-sm{
	width: 50%;
	border-radius: 4px;
	background-color: #fff;
	box-shadow: 3px 3px 3px #000;
}

.container-sm input{
	margin-bottom: 10px; 
}

.error{
	color: #f5644d;
	border-color: #f5644d;
}

#contract-detail-table {
	padding: 3px;
	border: none;
}
#contract-detail-table input{
	border-radius: 4px;
	margin: 2px;
}
#contract-detail-table a.days{
	cursor: pointer;
	margin-right: 10px;
	padding: 10px;
	border-style: solid;
	border-radius: 4px 4px 0px 0px;
	border-width: 1px 1px 0px 1px;
	border-color: transparent;
	color: #8a6d3b;
}
#contractId {
	font-size: 80%;
	color: #8a6d3b;
	padding-bottom: 8px;
	text-transform: uppercase;
}
#contract-detail-table a.days.active{
	border-color: #8a6d3b;
	background-color: #8a6d3b;
	color: #fff;
}

#contract-detail-table .day-wrapper{
	padding: 10px;
	border:1px solid #8a6d3b;
	background-color: #fcfcfc;
}
#contract-detail-table textarea{
	width:100%;
	height: 50px;
	margin: 3px 2px;
}
#priceTable label:after{
	content: ":"
}
#priceTable label{
	font-size: 14px;
	padding-right: 5px;
}