<div class='col-lg-12 clearfix' id='about'>
	<h1 class='spf' style='margin-top:50px'>The WishTree Story</h1>
	<div class='container'>
		<div class='para'>
			<p><span class='spf' style='font-size:28px'>W</span>e were often told to follow our hearts, and so we did -- WishTree came to life because of you. We are your eyes, capturing magical moments filled with excitement and love so that you don’t have to worry about your memories fading with the sands of time. Your milestones should not be pieced together by blurred and fading memories as you grow older together. Your memories deserve to be everlasting, crystal clear and with you, forever.
			</p>
			<p style='text-align:center'>
				<img src='img\logo\wishtree-lrg-2.png'/>
			</p>
		</div>
	</div>			
</div>