<div class="modalBox" ng-class='{active:newContractFormView}'>
	<div class="container container-sm">
		<h3>New Client</h3>
		<form class="form-group">
			<input class='form-control' type="text" ng-model="clientName" placeholder="Name">
			<input class='form-control' type="password" ng-model="ctrl.pass1" placeholder="password">
			<input class='form-control' type="password" ng-model="ctrl.pass2" placeholder="re-type password">
			<div>
				<a class='btn btn-success btn-sm'>Create Client</a>
				<a class='btn btn-default btn-sm' ng-click='ctrl.dismiss()'>Cancel</a>
			</div>			
		</form>
	</div>	
</div>
