<div class='row' id='otherContacts'>
		<div class='container'>
			 <form class='form-group' action="" method="POST" enctype="multipart/form-data">
				<!--<input type="hidden" name="action" value="submit">-->
				<h1 class='section-header' style='color:#fff;''>~ alternative contact ~</h1>
				<table class="table">
					<tr class='t-header'>
						<td>PHONE</td>
						<td>EMAIL</td>
					</tr>
					<tr>
						<td>
							Shayan +1 647 400 3274<br>Iftakhar +1 647 886 5431
						</td>
						<td>
							info@wishtree-cinemas.com
						</td>
					</tr>
					
				</table>
				<div class='row' style='margin:50px;margin-bottom:100px;'>
					<p style='text-align:center'>
						<img src='img\logo\wishtree-lrg-2.png'/>
					</p>
				</div>
			</form>
			<!--copyright-->
			<div ng-include="'template/copyright.html'"></div>

		</div>
</div>