<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix pad0' id='profile' style='padding-top:0px;'>
	<div class="clearfix showcaseBg" style="padding: 150px 0px;">
		<h1 class='section-header' style='text-align:center;'>Showcase</h1>
	</div>
	<div class='container' style='text-align:center;'>
		<a class='btn btn-custom' ng-click='setPV(1)' ng-class='{selected:showcase==1}'>PHOTOS</a>
		<a class='btn btn-custom' ng-click='setPV(2)' ng-class='{selected:showcase==2}'>CINEMAS</a>
	</div>
</div>



<div class='clearfix' ng-include="'template/gallery.html'"></div>	
<div class='clearfix' ng-include="'template/photos.html'" ng-if='showcase==1'></div>	
<div class='clearfix' ng-include="'template/videos.html'" ng-if='showcase==2'></div>	