<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix pad0' id='team'>
	<h1 class='section-header' style='text-align:center;'>The Team</h1>
		<div class='container' style="margin:0px auto">
			<div id='shayan' class='col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class="team-holder">
					<div class='team-pic-holder t1'></div>
					<div class='jobTitle'>
						Shayan Mahfuz<br>
						Founder, Sr. Cinematographer
					</div>
					<div class='jobDesc'>
						<div class='para' style="padding: 15px">
							Shayan Mahfuz<br>
							<span style="font-size: 75%">Founder, Sr. Cinematographer</span>
						</div>
					</div>
				</div>
			</div>
			<div id='shayan' class='col-lg-4 col-md-4 col-sm-6 col-xs-6'>	
				<div class="team-holder">
					<div class='team-pic-holder t7'></div>
					<div class='jobTitle'>
						Iftakhar Rasul<br>
						Founder, Lead Photographer
					</div>
					<div class='jobDesc'>
						<div class='para' style="padding: 15px">
							Iftakhar Rasul<br>
							<span style="font-size: 75%">Founder, Lead Photographer</span>
						</div>
					</div>
				</div>
			</div>
			<div id='yaman' class='col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class="team-holder">
					<div class='team-pic-holder t2'></div>
					<div class='jobTitle'>
						Yaman Syed<br>
						Sr. Cinematographer
					</div>
					<div class='jobDesc'>
						<div class='para' style="padding: 15px">
							Yaman Syed<br>
							<span style="font-size: 75%">Sr. Cinematographer</span>
						</div>
					</div>
				</div>
			</div>
			<!--<div id='ashiq' class='team-holder t3'></div>-->
			<div id='mahfuz' class='col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class="team-holder">
					<div class='team-pic-holder t3'></div>
					<div class='jobTitle'>
						Ashiqul Alam<br>
						Sr. Cinematographer
					</div>
					<div class='jobDesc'>
						<div class='para' style="padding: 15px">
							Ashiqul Alam<br>
							<span style="font-size: 75%">Sr. Cinematographer</span>
						</div>
					</div>
				</div>
			</div>
			<div id='iftakhar' class='col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class="team-holder">
					<div class='team-pic-holder t4'></div>
					<div class='jobTitle'>
						Mahfuz Rahman<br>
						Sr. Photographer
					</div>
					<div class='jobDesc'>
						<div class='para' style="padding: 15px">
							Mahfuz Rahman<br>
							<span style="font-size: 75%">Sr. Photographer</span>
						</div>
					</div>
				</div>
			</div>
			<div id='kaiser' class='col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class="team-holder">
					<div class='team-pic-holder t5'></div>
					<div class='jobTitle'>
						Omar Ali<br>
						Photographer
					</div>
					<div class='jobDesc'>
						<div class='para' style="padding: 15px">
							Omar Ali<br>
							<span style="font-size: 75%">Photographer</span>
						</div>
					</div>
				</div>
			</div>
			<div id='omar' class='col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class="team-holder">
					<div class='team-pic-holder t6'></div>
					<div class='jobTitle'>
						Kaiser Ahmed<br>
						Photographer
					</div>
					<div class='jobDesc'>
						<div class='para' style="padding: 15px">
							Kaiser Ahmed<br>
							<span style="font-size: 75%">Photographer</span>
						</div>
					</div>
				</div>
			</div>
			<div id='omar' class='col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class="team-holder">
					<div class='team-pic-holder t6'></div>
					<div class='jobTitle'>
						Shahriyar Ahmed<br>
						Videographer
					</div>
					<div class='jobDesc'>
						<div class='para' style="padding: 15px">
							Shahriyar Ahmed<br>
							<span style="font-size: 75%">Videographer</span>
						</div>
					</div>
				</div>
			</div>
			<div id='omar' class='col-lg-4 col-md-4 col-sm-6 col-xs-6'>
				<div class="team-holder">
					<div class='team-pic-holder t6'></div>
					<div class='jobTitle'>
						Tareq Zeelani<br>
						Videographer
					</div>
					<div class='jobDesc'>
						<div class='para' style="padding: 15px">
							Kaiser Ahmed<br>
							<span style="font-size: 75%">Videographer</span>
						</div>
					</div>
				</div>
			</div>
		</div>

	<div class='row' style='margin:50px;margin-bottom:0px;'>
		<p style='text-align:center'>
			<img src='img\logo\\wishtree.png'/>
		</p>
	</div>	
</div>
