<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="js/wt.js"></script>
<script src="js/rollerSvc.js"></script>
<script src="js/teamSvc.js"></script>
<script src="js/packageSvc.js"></script>
<script src="js/gallerySvc.js"></script>
<script src="js/showcaseCtrl.js"></script>

<script src="lightbox/js/lightbox.js"></script>
<script>
  lightbox.option({
    'maxWidth': 900,
    'maxHeight': 600
  })
</script>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
<link rel="stylesheet" href="lightbox/css/lightbox.css">
<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tangerine|Arizonia|Fredericka+the+Great|Roboto:100|Roboto+Slab:100|Slabo+27px" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='css/wt.css'/>
<link rel='stylesheet' href='css/team.css'/>
<link rel='stylesheet' href='css/gallery.css'/>

</head>
<body ng-app='app' ng-controller='ctrl'>
	<div class='go-down'><img ng-click="scroll('#about')" src='img/menu/go-down.png'/></div>
	<section ng-controller='pic-roller'>
		<ul style='margin:0px;padding:0px;position:relative;height:100%;'>
			<li class='li-canvas' ng-repeat="bg in bgs track by $index" style="background-image: url({{bg}});" id="mainPic{{$index}}" ><li>
		</ul>
		<h1 class="tagline">
			<div class="row pad0">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
					<div ng-include="'template/socialNetwork.html'"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
					make your wish come true...
					</div>
			</div> 
		</h1>
		<div class="watermark"><img src='img\logo\wishtree.png'/></div>
	</section>
	<nav class='nav navbar' id='menu'>
		<div class='container'>
			<ul class="nav nav-tabs pull-left">
			  <li class='pull-left'><div id='wt-logo' ></div><li>
			  <li class='pull-left'><h3 id='wt-cName'>WishTree Cinemas</h3><li>	
			  <div class='clearfix' style='padding-top:25px'>
			</ul>
			<ul class="nav nav-tabs pull-right" style='margin-top:25px;'>  
				  <li role="presentation" class="active"><a ng-click="scroll('#about')">About</a></li>
				  <li role="presentation" ><a ng-click="scroll('#packages')">Packages</a></li>
				  <li role="presentation" ><a ng-click="scroll('#showcase')">Showcase</a></li>
				  <li role="presentation" ><a ng-click="scroll('#team')">Team</a></li>
				  <li role="presentation" ><a ng-click="scroll('#contact')">Contact</a></li>		  
			  
			</ul>
		</div>
	</nav>
	<section  class='row' style='background-color:#eee;' id='postMenu'>
		<div class='col-lg-12 clearfix' id='about'>
				<h1 class='spf' style='margin-top:50px'>The WishTree Story</h1>
				<div class='container'>
					<div class='para'>
						<p><span class='spf' style='font-size:28px'>P</span>assion breeds perfection; and that mere fact drove our ambitions and we embarked upon founding this company. 
						We are uncompromising when faced with challenges. 
						Give us the opportunity to capture the best moments of your life. Let us freeze the time in our camera-frames that you will cherish forever while we satisfy our hunger for perfection.
						We believe that every love story is eternal and we are here to make your wedding everlasting
						</p>
						<p style='text-align:center'>
							<img src='img\logo\wishtree-lrg-2.png'/>
						</p>
					</div>
				</div>			
		</div>
		
		<!-- showcase -->
		<div class='clearfix' ng-controller='showcaseCtrl' ng-include="'template/showcase.html'"></div>
		
	
		<!-- wishtree connect -->
		<div class="clearfix" ng-include="'template/connect.html'"></div>

		<!-- packages -->
		<div class='clearfix' pkg-manager pkg='pkg'></div>

		<!-- team -->
		<div class='clearfix' ng-include="'template/team.html'"></div>


		<!-- contact -->
		<div ng-include="'template/contact.html'"></div>
		<!--other contacts-->	
		<div ng-include="'template/otherContacts.html'"></div>
		
	</section>
</body>
</html>