<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="js/wt.js"></script>

<script src="lightbox/js/lightbox.js"></script>
<script>
  lightbox.option({
    'maxWidth': 1080,
    'maxHeight': 720
  })
</script>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
<link rel="stylesheet" href="lightbox/css/lightbox.css">
<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tangerine|Great+Vibes|Arima+Madurai:100|Fredericka+the+Great|Roboto:100|Roboto+Slab:100|Slabo+27px" rel="stylesheet">
<link rel='stylesheet' href='css/wt.css'/>
<link rel='stylesheet' href='css/team.css'/>
</head>
<body ng-app='app' ng-controller='ctrl'>
	<!--<div class='modal' ng-class='{active:showModal}'></div>
	<div class='modalBox text-center;' ng-class='{active:showModal}'>
		<div class='row text-center bb4'><a class='btn btn-custom3 b4' ng-click='showModal=false'>Close Gallery</a></div>
		<div class='col-lg-12 col-md-12 col-sm-12 col-xs-12 gallery'>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-6'>
				<a ng-repeat="i in imgAry" class="example-image-link" href="SiteGallery/wt-{{i}}.jpg" 
					data-lightbox="example-set" data-title="WishTree Cinemas">
					<img class="example-image" src="SiteGallery_thumb/wt-{{i}}.jpg" alt=""/>
				</a>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-6'>
				<a ng-repeat="i in imgAry" class="example-image-link" href="SiteGallery/wt-{{i+33}}.jpg" 
					data-lightbox="example-set" data-title="WishTree Cinemas">
					<img class="example-image" src="SiteGallery_thumb/wt-{{i+33}}.jpg" alt=""/>
				</a>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-6'>
				<a ng-repeat="i in imgAry" class="example-image-link" href="SiteGallery/wt-{{i+65}}.jpg" 
					data-lightbox="example-set" data-title="WishTree Cinemas">
					<img class="example-image" src="SiteGallery_thumb/wt-{{i+65}}.jpg" alt=""/>
				</a>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-6 col-xs-6'>
				<a ng-repeat="i in imgAry" class="example-image-link" href="SiteGallery/wt-{{i+99}}.jpg" 
					data-lightbox="example-set" data-title="WishTree Cinemas">
					<img class="example-image" src="SiteGallery_thumb/wt-{{i+99}}.jpg" alt=""/>
				</a>
			</div>
		</div>
		<div class='row text-center bb4'><a class='btn btn-custom3 b4' ng-click='showModal=false'>Close Gallery</a></div>				
	</div> 
	<div class='modal text-center'  ng-class="{active:viewImage}"></div>
	<div id='lrg-image' ng-class="{active:viewImage}" ng-click='viewImage=false'></div>

	-->
	<!--<section ng-controller='pic-roller' style='position:relative;height:100%;background-color:transparent' id='pic-canvas'>
		<div ng-repeat='bg in bgs' class='row canvas' ng-class='{active:currentBG==bg}' id='mainPic{{bg}}' ng-init='fn()'></div>
	</section>-->
	<div class='go-down'><img ng-click="scroll('#about')" src='img/menu/go-down.png'/></div>
	<section ng-controller='pic-roller'>
		<ul style='margin:0px;padding:0px;position:relative;height:100%;'>
			<li class='li-canvas' ng-repeat="bg in bgs" id="mainPic{{bg}}" ><li>
		</ul>
	</section>
	<nav class='nav navbar' id='menu'>
		<div class='container'>
			<ul class="nav nav-tabs pull-left">
			  <li class='pull-left'><div id='wt-logo' ></div><li>
			  <li class='pull-left'><h3 id='wt-cName'>WishTree Cinemas</h3><li>	
			  <div class='clearfix' style='padding-top:25px'>
			</ul>
			<ul class="nav nav-tabs pull-right" style='margin-top:25px;'>  
				  <li role="presentation" class="active"><a ng-click="scroll('#about')">About</a></li>
				  <li role="presentation" ><a ng-click="scroll('#packages')">Packages</a></li>
				  <li role="presentation" ><a ng-click="scroll('#profile')">Showcase</a></li>
				  <li role="presentation" ><a ng-click="scroll('#team')">Team</a></li>
				  <li role="presentation" ><a ng-click="scroll('#contact')">Contact</a></li>		  
			  
			</ul>
		</div>
	</nav>
	<section  class='row' style='background-color:#eee;' id='postMenu'>
		<div class='col-lg-12 clearfix' id='about'>
				<h1 class='spf' style='margin-top:50px'>The WishTree Story</h1>
				<div class='container'>
					<div class='para'>
						<p><span class='spf' style='font-size:28px'>P</span>assion breeds perfection; and that mere fact drove our ambitions and we embarked upon founding this company. 
						We are uncompromising when faced with challenges. 
						Give us the opportunity to capture the best moments of your life. Let us freeze the time in our camera-frames that you will cherish forever while we satisfy our hunger for perfection.
						We believe that every love story is eternal and we are here to make your wedding everlasting
						</p>
						<p style='text-align:center'>
							<img src='img\logo\wishtree-lrg-2.png'/>
						</p>
					</div>
				</div>			
		</div>
		
		<div class='clearfix' ng-include="'template/showcase.html'"></div>
		
		<div class='clearfix' ng-include="'template/videos.html'" ng-if='showcase==2'></div>	
	
		<div class="col-lg-12 clearfix text-center" style="padding-top: 50px;">
			<span class='spf'>Connect with us:</span> 
			<a target='_blank' href='https://www.facebook.com/wishtreecinemas/'><img src='img/social/facebook_logo.png'></a> 
			<a target='_blank' href='https://www.instagram.com/wishtreecinemas/'><img src='img/social/instagram_logo.png'></a>
			<a target='_blank' href='https://vimeo.com/wishtreecinemas/'><img src='img/social/vimeo_logo.png'></a>
			<p style='text-align:center'>
				<img src='img\logo\\wishtree.png'/>
			</p>
		</div>

		<!-- packages -->
		<div class='clearfix' pkg-manager pkg='pkg'></div>

		<!-- team -->
		<div class='clearfix' ng-include="'template/team.html'"></div>


		<!-- contact -->
		<div ng-include="'template/contact.html'"></div>
		<!--other contacts-->	
		<div ng-include="'template/otherContacts.html'"></div>
		
	</section>
</body>
</html>