<html>
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta charset="utf-8" name="company" content="WishTree Cinemas"/>
<meta charset="utf-8" name="description" content="Wedding Photography & Videography Toronto, Brampton, Scarborough, Mississagua, GTA"/>
<meta charset="utf-8" name="keywords" content="WishTree Cinemas, Wedding, Photography, Videography, Toronto, gta, Mississagua, Scarborough, whitby"/>
<meta charset="utf-8" name="robot" content="index"/>

<title>WishTree Cinemas | Toronto | GTA | Wedding Photography & Videography</title>
<script>!function(e,t,a,n,c,o,s){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,o=t.createElement(a),s=t.getElementsByTagName(a)[0],o.async=1,o.src="https://www.google-analytics.com/analytics.js",s.parentNode.insertBefore(o,s)}(window,document,"script",0,"ga"),ga("create","UA-100340149-1","auto"),ga("send","pageview");</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="js/wt.js"></script>
<script src="js/rollerSvc.js"></script>
<script src="js/teamSvc.js"></script>
<script src="js/packageSvc.js"></script>
<script src="js/gallerySvc.js"></script>
<script src="js/partnerSvc.js"></script>
<script src="js/showcaseCtrl.js"></script>

<script src="lightbox/js/lightbox.js"></script>
<script>
  lightbox.option({
    'maxWidth': 900,
    'maxHeight': 600
  })
</script>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'/>
<link rel="stylesheet" href="lightbox/css/lightbox.css">
<link href="https://fonts.googleapis.com/css?family=Sacramento" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Tangerine|Arizonia|Fredericka+the+Great|Roboto:100|Roboto+Slab:100|Slabo+27px" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Arizonia' rel='stylesheet' type='text/css'>
<link rel='stylesheet' href='css/wt.css'/>
<link rel='stylesheet' href='css/team.css'/>
<link rel='stylesheet' href='css/gallery.css'/>

</head>
<body ng-app='app' ng-controller='ctrl'>
	<div class='go-down'><img ng-click="scroll('#about')" src='img/menu/go-down.png'/></div>
	<section ng-controller='pic-roller'>
		<ul style='margin:0px;padding:0px;position:relative;height:100%;'>
			<li class='li-canvas' ng-repeat="bg in bgs track by $index" style="background-image: url({{bg}});" id="mainPic{{$index}}" ><li>
		</ul>
		<h1 class="tagline">
			<div class="row pad0">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-left">
					<div ng-include="'template/socialNetwork.html'"></div>
				</div>
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 pull-right">
					make your wish come true...
					</div>
			</div> 
		</h1>
		<div class="watermark"><img src='img\logo\wishtree.png'/></div>
	</section>
	<nav class='nav navbar' id='menu'>
		<div class='container'>
			<ul class="nav nav-tabs pull-left">
			  <li class='pull-left'><div id='wt-logo' ></div><li>
			  <li class='pull-left hidden-xs'><h3 id='wt-cName'>WishTree Cinemas</h3><li>	
			  <div class='clearfix' style='padding-top:25px'>
			</ul>
			<ul class="nav nav-tabs pull-right" style='margin-top:25px;' id="main-menu">  
				  <li role="presentation" ng-class="{'active': cMenu==0}"><a ng-click="scroll('#about')">About</a></li>
				  <li role="presentation" ng-class="{'active': cMenu==1}"><a ng-click="scroll('#packages')">Packages</a></li>
				  <li role="presentation" ng-class="{'active': cMenu==2}"><a ng-click="scroll('#showcase')">Showcase</a></li>
				  <li role="presentation" ng-class="{'active': cMenu==3}"><a ng-click="scroll('#team')">Team</a></li>
				  <li role="presentation" ng-class="{'active': cMenu==4}"><a ng-click="scroll('#contact')">Contact</a></li>		  
			</ul>
		</div>
	</nav>
	<section  class='row' style='background-color:#eee;' id='postMenu'>
		
		<!-- about us -->
		<div class='clearfix' ng-include="'template/about.html'"></div>
		
		<!-- showcase -->
		<div class='clearfix' ng-controller='showcaseCtrl' ng-include="'template/showcase.html'"></div>
		
	
		<!-- wishtree connect -->
		<div class="clearfix" ng-include="'template/connect.html'"></div>

		<!-- packages -->
		<div class='clearfix' pkg-manager pkg='pkg'></div>

		<!-- team -->
		<div class='clearfix' ng-include="'template/team.html'"></div>

		<!-- contact -->
		<div class='clearfix' ng-include="'template/contact.html'"></div>
		
		<!--other contacts-->	
		<div class='clearfix' ng-include="'template/otherContacts.html'"></div>

		<!--partners-->	
		<div class='clearfix' ng-include="'template/partners.html'"></div>

		<!--copyright-->
		<div class='clearfix' ng-include="'template/copyright.html'"></div>

		
	</section>
</body>
</html>